@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    background-color: #F8E5EE;
    font-family: 'Titillium Web', sans-serif;
}
h2, h3 {
    font-weight: 400;
}
h2 {
    font-size: 3em;
    text-align: center;
}
.question {
    /*display: none;*/
    width: 80%;
    margin: 0 auto;
}
.answers {
    width: 40%;
    float: left;
    margin: 2% 5% 5% 5%;
}
.submit {
    width: 10%;
    padding: 0.5em;
    border: 1px solid white;
    float: left;
    text-align: center;
    display: block;
    margin-left: 45%;
    cursor: pointer;
}
.submit:hover {
    background-color: white;
    color: black;
    border-color: black;
}
#result {
    margin: 10px;
    background: #eee;
    padding: 10px;
    height: 40px;
    overflow: auto;
}
.visual{
    width: 100vw;
    height: 100vh;
    background-color: #2B2C2E;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    height: 700px;
    width: 700px;
    position: absolute;
    left:20%;
}

svg {
    width: 700px;
    position: absolute;
    left: 20%;
    opacity: 0.4;
}

