@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    background-color: #000;
    font-family: 'Titillium Web', sans-serif;
    width: 200vw;
}
h2, h3 {
    opacity: 0;
    font-weight: 400;
    color: #eee;
}
h2 {
    font-size: 2em;
    text-align: center;
}
.question, .question_2{
    width: 33.33vw;
    float: left;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question .wrapper, .question_2 .wrapper{
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answers {
    width: 40%;
    float: left;
    margin: 2% 5% 5% 5%;
}
.submit {
    width: 10%;
    padding: 0.5em;
    border: 1px solid white;
    float: left;
    text-align: center;
    display: block;
    margin-left: 45%;
    cursor: pointer;
}
.submit:hover {
    background-color: white;
    color: black;
    border-color: black;
}
.visual{
    width: 33.33vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
}
.score {
    position: absolute;
    bottom: 7.5%;
    width: 80%;
    left: 10%;
    text-align: center;
    color: white;
    font-size: 2em;
}
.wrapper{
    height: 780.458139px;
    width: 780.458139px;
    display: block;
    margin: 0 auto;
    position: relative;
}
canvas{
    height: 700px;
    width: 700px;
    top: 40.2291px;
    left: 40.2291px;
    position: absolute;
}
svg {
    width: 780.458139px;
    position: absolute;
}
form {
    opacity: 0;
    display: none;
}
